input#email {
	font-size: 18pt;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
div#email_container{
	padding-top: 20px;
	width: 400px;
	margin: auto;
}
#contact_name{
	width:400px;
	text-align: center;
}
.title{
	font-size: 1.17em;
	font-weight: bold;
	color: #777;
	margin: 5px;
}
#function_buttons input {
    width: 100%;
}
.events {
    margin-left: 20px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: #555 solid 1px;
}
.event_dates label {
    color: #555;
    margin-left: 20px;
}
.metrics{
    margin: 5px 0px;
}
.metrics div label{
    font-weight: bold;;
}
a.event_title {
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.event_actions a, .event_actions input {
    display: inline;
}

.event_actions {
    margin-right: 10px;
    width:150px;
}
.att.main{
	font-size: 1.25em;
}
img.event_image_src {
    width: 100%;
}
.att.last_name, .sub .att {
    margin-right: 10px;
    text-transform: capitalize;
}
#function_buttons{
    padding: 0px 115px;
}
.contact_name{
	margin-bottom: 20px;
}
#add_contact_parent{
	line-height: 30px;
}
.contact_name .title{
	margin-right: 0px;
	color: #000;
}
#showNewAttendee{
    margin-left: 80px;
    margin-top: 30px;
}
#attendees{
    width: 60%;
    min-width: 600px;
    margin: auto;
}
.sub{
	color: #777;
	margin-left: 35px;
	margin-bottom: 10px;
}
.list_title{
	color:#026;
	font-size: 1.1em;
	margin-bottom: 15px;
}
#add_contact{
	font-weight: bold;
}
.error,.error a{
    text-align: center;
    color: red;
}
.modal{
	display: none;
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal_content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    background-color: #fff;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.new_att{
	width: 100%;
    max-width: 600px;
    margin: auto;
	font-size: 1.1em;
	margin-bottom: 20px;
}
.modal_title h3 {
	text-align: center;
    clear: both;
}
.event_sections>div label {
    color: #555;
}
.event_image_src{
	width:100%;
}
.event_sections>div input, .event_sections>div textarea {
    font-size: 1.1em;
    margin-bottom: 10px;
}
.events_dates {
    width: 80%;
    min-width: 300px;
    margin: auto;
}
.grid25 input {
    width: 80px;
}

.grid25 {
    width: 24%;
    display: inline-grid;
}
input#child_age_min, input#child_age_max, input#child_age_min2, input#child_age_max2{
    width: 50px;
}
.grid50 input {
    margin-right: 12%;
}
.grid50 label {
    margin-left: 12%;
}
.event_sections div{
	margin-bottom: 15px;
}
.dates_grid {
    width: 32%;
    display: inline-block;
}
.input_grid{
	display: grid;
	min-width:300px;
	margin:auto;
	width: 80%;
}