<div>
	<input type="checkbox" name="attendees" value='{
		"type":"{{type}}",
		"first_name":"{{first_name}}",
		"last_name":"{{last_name}}",
		"detail":"{{detail}}",
		"_id":"{{_id}}",
		"den":"{{den}}""
	}'>
	<span class='att first_name'>{{#propercase first_name}}{{/propercase}}</span>
	<span class='att last_name'>
		{{#lastname last_name}}
			{{@last_name}}
		{{/lastname}}
	</span>
	<span class='att type'>{{type}}</span>
	<span class='att detail'>{{detail}}</span>
	<span class='att den'>{{den}}</span>
</div>