{{#if enabled}}
	<div class="banner_conntainer pointer">
		<input type="input" id="id" class="hide" value="{{_id}}">
		<div class="banner_image" style="background-image:url({{select_image}}),url(&#39;http://www.cubscoutpack97.org/images/defualtbannerimage.png&#39;);">
			<div class="banner_text">
				<h2 class="contentheading">{{event_name}}</h2>
				<h3 class="datetime">{{#formatdate event_date}}{{@formatteddate}}{{/formatdate}}
					<div class="reg_close_date">Registration closes at the end of {{#formatdate reg_close}}{{@formatteddate}}{{/formatdate}}</div>
				</h3>
				<p class="font_larger">{{desc}}</p>
				<a class="font_larger" href="/events/events_home.php">Learn More</a>
			</div>
		</div>
	</div>
{{/if}}