<header>
 	<div class="imgHeader">
	 	<div class="item84">
	 		<i class="fa fa-bars">
	 			<span class="icon_menu">menu</span>
	 		</i>
	 	</div>
 		<p class="item84">Menu</p>
 		<div class="text_container">
	        <h1 class="text_gold">Cub Scout Pack 97</h1>
	    </div>
	<ul class="main_menu">
		<div id="mm" style="">
			<li class="item1">Home</li>
			<li class="item27">Program Overview</li>
			<li class="item58">Pack Committee</li>
			<li class="item66">Events</li>
			<li class="item83">Scout Hike Totals</li>
			<li class="item59">Leaders</li>
			<li class="item48">Resources</li>
			<li class="item69">Scout Camps</li>
			<li class="item81">Den Meeting Times</li>
			<li class="item82">ScoutTrack</li>
			<li class="item86">Multimedia Gallery</li>
			{{#if admin}}
				<li class="item87">Event Admin</li>
				<li class="item88">Hike Admin</li>
			{{/if}}
		</div>
	</ul>
	</div>
</header>