<div class="contact_container">
	<div class="contact_info">
		<span class="name contact">{{contact_first_name}} {{contact_last_name}}</span>
		<div class="reg_contact_info">
			<!-- if admin true -->
			<a href="tel:{{contact_phone}}">{{contact_phone}}</a>
			<a href="{{contact_email}}">email</a>
		</div>
		<span class="pointer" onclick="TogglePaid(2414, 1)">
			{{#if verified}}
				Verified
			{{else}}
				Not Verified
			{{/if}}
		</span>
	</div>
	<div class="participants_card">
			{{#getscouts attendees}}
				{{#equal @index 1 "Scouts"}}
					<b>Scouts</b>
				{{/equal}}
				{{>participant_info @scout}}
			{{/getscouts}}
		
			{{#getleaders attendees}}
				{{#equal @index 1 "Leader"}}
					<b>Leader</b>
				{{/equal}}
				{{>participant_info @leader}}
			{{/getleaders}}
		
			{{#getadults attendees}}
				{{#equal @index 1 "Adults"}}
					<b>Adults</b>
				{{/equal}}
				{{>participant_info @adult}}
			{{/getadults}}
		
			{{#getothers attendees}}
				{{#equal @index 1 "Other"}}
					<b>Other</b>
				{{/equal}}
				{{>participant_info @other}}
			{{/getothers}}
	</div>
</div>