<div class="contact_container">
	<div class="contact_info">
		<span class="name contact">{{contact_first_name}} {{contact_last_name}}</span>
		<div class="reg_contact_info">
			<!-- if admin true -->
			<a href="tel:{{contact_phone}}">{{contact_phone}}</a>
			<a href="{{contact_email}}">email</a>
		</div>
		<span class="pointer" >
			{{#if verified}}
				Verified
			{{else}}
				Not Verified
			{{/if}}
		</span>
	</div>
	<div class="participants_card">
			{{#getscouts attendees}}
				{{#with @scout}}
					<b>Scouts</b>
				{{/with}}
				{{>participant_info @scout}}
			{{/getscouts}}
		
			{{#getleaders attendees}}
				{{#with @leader}}
					<b>Leader</b>
				{{/with}}
				{{>participant_info @leader}}
			{{/getleaders}}
		
			{{#getadults attendees}}
				{{#with @adult}}
					<b>Adults</b>
				{{/with}}
				{{>participant_info @adult}}
			{{/getadults}}
		
			{{#getothers attendees}}
				{{#with @other}}
					<b>Children</b>
				{{/with}}
				{{>participant_info @other}}
			{{/getothers}}
	</div>
</div>