<form action="{{path}}" method='{{method}}'>
	{{error}}
	<div id="email_container" >
		<input type="email" name="contact_email" id="email" value='{{email}}' placeholder="Your Email">
	</div>
	<input type="input" name="event_id" id="event_id" value='{{event_id}}' class="hide">
	<input type="input" name="costs" value="{{costs}}" class="hide">
	<div id="attendees">
		{{#each contact}}
			<div>
				<input type="input" name="contact_id" value="{{_id}}" class="hide">
				<span class="title">Welcome back</span>
				<div class="contact_name">
					<span class="title">{{#titlecase first_name}}{{/titlecase}}</span>
					<span class="title">{{#titlecase last_name}}{{/titlecase}}</span>
				</div>
				<input type="input" name="contact_first_name" value="{{#titlecase first_name}}{{/titlecase}}" class="hide" >
				<input type="input" name="contact_last_name" value="{{#titlecase last_name}}{{/titlecase}}" class="hide" > 
				<input type="input" name="contact_phone" value="{{phone}}" class="hide">
			</div>
			<div >	
				<div class="list_title center">Select anyone attending</div>
				{{#getattendees family}}
					{{>attendees @attendee}}
				{{/getattendees}}
			</div>
		{{/each}}
	</div>
	<div id="total_container" class="hide">
		<h3>Total</h3>
		<span id="total"></span>
	</div>
	<input type="submit" class="btn" id="add_contact">

</form>

{{#with contact}}
	<input type="button" id="showNewAttendee" value="Add a new person"  class="btn horCenter">
{{/with}}
<div id="newAttendee" class="modal" style="display:none;">
	{{>newAttendee}}
</div>
<link rel="stylesheet" type="text/css" href="/css/event_reg.css">
<script type="text/javascript" src="/js/events.js"></script>